{% extends "admin/_base.html" %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Edição de Area</h1>
{% if error %}
<div class="alert alert-warning" role="alert">
    {{error}}
</div>
{% endif %}
<form action="{{url_for('area_edit', objeto_id=objeto.id)}}" method="post" autocomplete="off"
    enctype="multipart/form-data">
    <div class="mb-3">
        <label for="area" class="form-label">Area</label>
        <input type="text" name="area" id="area" class="form-control" value="{% if objeto %} {{objeto.area}}{%endif%}"
            required autofocus>
    </div>

    <button type="submit" class="btn btn-primary">salvar</button>
    <a href="{{url_for('area_list')}}" class="btn btn-info">Cancelar</a>
</form>
{% endblock content %}