{% extends "admin/_base.html" %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Gerenciar Duvidas</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="ms-3 d-inline-block">
            <a href="{{url_for('duvida_create')}}" class="btn btn-primary">
                + Cadastrar
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellscpacing="0">
                <thead>
                    <tr>
                        <th class="w-1"></th>
                        <th>ID</th>
                        <th>Area</th>
                        <th>Titulo</th>
                        <th>Resposta</th>

                    </tr>
                </thead>
                <tbody>
                    {% if objeto %}
                    {% for dado in objeto %}
                    <tr>
                        <td class="text-center">
                            <a href="{{url_for('duvida_details', duvida_id=dado.id)}}" data-toggle="tooltip"
                                data-placement="top" title="Ver">
                                <span class="me-1 px-x">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </a>
                            <a href="{{url_for('duvida_edit', duvida_id=dado.id)}}" data-toggle="tooltip"
                                data-placement="top" title="Editar">
                                <span class="me-1 px-2">
                                    <i class="fa fa-pen-square"></i>
                                </span>
                            </a>
                            <a href="#" data-url="{{url_for('duvida_delete', duvida_id=dado.id)}}"
                                data-target="#modal-delete" data-toggle="modal" title="Deletar">
                                <span class="me-1 px-2">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </a>
                        </td>

                        <td>{{dado.id}}</td>
                        <td>{{dado.area.area}}</td>
                        <td>{{dado.titulo}}</td>
                        <td>{{dado.resposta}}</td>
                    </tr>
                    {% endfor %}
                    {% else%}
                    <td colspan="5">Não existem Duvidas na listagem</td>
                    {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% include "admin/modals/delete.html" %}
{% endblock content %}