{% extends "admin/_base.html" %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Gerenciar Membros</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="ms-3 d-inline-block">
            <a href="{{url_for('membro_create')}}" class="btn btn-primary">
                Cadastrar
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellscpacing="0">
                <thead>
                    <tr>
                        <th class="w-1"></th>
                        <th>ID</th>
                        <th>nome</th>
                        <th>Função</th>
                        <th>Imagem</th>
                    </tr>
                </thead>
                <tbody>
                    {% if dados %}
                    {% for dado in dados %}
                    <tr>
                        <td class="text-center">
                            <a href="{{url_for('membro_details', membro_id=dado.id)}}" data-toggle="tooltip"
                                data-placement="top" title="Ver">
                                <span class="me-1 px-x">
                                    <i class="fas fas-eye"></i>
                                </span>
                            </a>
                            <a href="{{url_for('membro_edit', membro_id=dado.id)}}" data-toggle="tooltip"
                                data-placement="top" title="Editar">
                                <span class="me-1 px-2">
                                    <i class="fas fas-pen-square"></i>
                                </span>
                            </a>
                            <a href="{{url_for('membro_delete', membro_id=dado.id)}}" data-target="#modal-delete"
                                title="Deletar">
                                <span class="me-1 px-2">
                                    <i class="fas fas-trash"></i>
                                </span>
                            </a>
                        </td>

                        <td>{{dado.id}}</td>
                        <td>{{dado.nome}}</td>
                        <td>{{dado.funcao}}</td>
                        <td>
                            <a href="{{url_for('media',path=dado.imagem)}}" target="_blank">Ver</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else%}
                    <td colspan="5">Não existem membros na listagem</td>
                    {% endif %}

                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-right">
            <div class="row">
                <div class="col">
                    <a href="{{url_for('membro_list')}}" class="btn btn-info">Voltar</a>
                </div>
                <div class="col">
                    <a href="#" data-url="{{url_for('membro_delete', membro_idobjeto.id)}}" data-toggle="modal"
                        data-target="#modal-delete" class="btn btn-danger">Deletar</a>
                </div>
                <div class="col">
                    <a href="{{url_for('membro_edit', membro_id=objeto.id)}} " class="btn btn-primary">
                        Editar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin/modals/delete.html" %}
{% endblock content %}